// Varibales -----------------------------

// Fonts =====================
$primary-font: "Roboto", "Open Sans";
$secondary-font: "Monsterrat", "Open Sans";
$font-logo: "Nunito";

// Colors ====================
$color-primary: #fff;
$color-secondary: rgba(26, 26, 26, 0.87);

$color-bg: #fdfdfd;
$color-text: #383838ee;

// Other =====================
$radius: 5px;
$font-size: 20px; // 1.16em
